.box{
    display: flex;
    
}

.home-container {
    display: flex;
    padding-top: 1%;
    flex-direction: row;
    background-color: #f0f1f6;
  }
  
  .home-left {
    width: 70vw;
    transition: 2s;
  }
  .home-left-only {
    width: 100vw !important;
  }
  /* Example CSS for the animation */
  @keyframes slideOut {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .slide-out {
  }
  
  .home-right {
    animation: slideOut 1s ease-out;
    padding: 0 2vw;
  }
  
  .chart-weather {
    display: flex;
    margin-top: 2vh;
  }
  .top_right_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    height: 13vh;
  }
  .weather-comp {
    width: 38%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 12px;
  }
  .linechart-container {
    margin-top: 4vh;
    /* height: 32vh; */
  }
  .chart-comp {
    width: 65%;
    margin-left: 1vw;
    height: 32vh;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #fff;
  }